.header {
  background-color: rgb(232, 242, 138);
  display: grid;
  justify-content: center;
  padding: 20px;
  position: fixed;
  row-gap: 10px;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.searchInput {
  grid-row: 1;
  grid-column: 1;
  width: 500px;
}

.searchButton {
  grid-row: 1;
  grid-column: 2;
}

.searchError {
  color: red;
  display: grid;
  grid-row: 2;
  text-align: center;
  margin-top: 10px;
}

.cartButton {
  grid-row: 1;
  margin-left: 10px;
}
