* {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  gap: 150px;
  grid-row-end: 3;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.inputSection {
  margin: auto;
}

.searchInput {
  width: 500px;
}

.categories {
  display: grid;
  gap: 10px;
  max-width: 1130px;
  overflow: auto;
}

.categories label {
  background-color: #e1e1e1;
  border: 2px solid black;
  border-radius: 50%;
  display: grid;
  grid-row-end: 1;
  height: 100px;
  width: 100px;
}

.categories label:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.7s;
}

.categories p {
  margin: auto;
  text-align: center;
}

.freeShippingProductsSection {
  display: grid;
  gap: 10px;
  max-width: 1200px;
  height: auto;
  overflow: auto;
}
