.productCard {
  border-left: 2px rgb(232, 242, 138) solid;
  border-right: 2px rgb(232, 242, 138) solid;
  border-radius: 40px;
  display: grid;
  font-size: 14px;
  gap: 10px;
  grid-row-end: 1;
  height: 400px;
  justify-content: center;
  margin-top: 10px;
  text-align: left;
  width: 290px;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productCard img {
  margin: auto;
  height: 100px;
  width: 150px;
}

.productCard span {
  align-self: center;
  background-color: rgb(232, 242, 138);
  border-radius: 40px 40px 0px 0px;
  font-size: 16px;
  grid-row: 1;
  padding: 20px 0px;
  top: 0px;
  text-align: center;
  min-height: 20px;
}

.productCard h3 {
  overflow: auto;
}

.productCard h3::-webkit-scrollbar {
  width: 5px;
}

.productCard h3::-webkit-scrollbar-thumb {
  background-color: black;
}

.oldPrice {
  font-size: 16px;
  text-decoration: line-through;
}

.price {
  color: green;
  font-size: 22px;
  font-weight: 700;
}

.productCard h2 {
  background-color: rgb(232, 242, 138);
  border-radius: 0 0 40px 40px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.productCard h2:hover {
  cursor: pointer;
}
